img.d-block.w-100 {
  height: 400px !important;
}

.carousel-text {
  position: absolute; 
  height: 202px; 
  width: 743px; 
  top:0px; 
  left: -10px;
}

.carousel-text-h5 {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  text-align: center;
  color: #FFFFFF;
}
.sh_search {
  position: absolute; 
  top: 270px;
  left: 40px;
  width: 710px;         
  height: 78px;
  background: #FFFFFF;
}
.search_container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.form-search {
  width: 100%; 
  margin-left: 10%;
}